<html>
    <head>
     <center>
           <link rel="icon" href="/img/rain.png">
<link rel="stylesheet" href="./css/style.css">
    </head>


    <body>
        <div class="main-content">
        {{>header}}
       <h3>The data is fetched from <a href="https://openweathermap.org/">openweathermap.org</a></h3>
       <h3>Developed By</h3>
        <img src="./img/sehaj.jpg" class="portrait">
        <h3>Sehaj Chawla</h3>
          </div>
          </center>
        
      
    </body>
    {{>footer}}
</html>