<html>
<head>
    <center>
         <link rel="icon" href="/img/rain.png">
   <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
<div class="main-content">
{{>header}}
  <p>Type in <b>City Name</b> and <b>Country Code</b> to<br/>get <b>Current Weather</b> Status</p> <br>
            <p><b>Example:</b><br><br/>City Name: Los Angeles<br/>Country Code:&emsp;&emsp;&emsp;US</p>
            <p>City Name: Bengaluru<br/>Country Code: &emsp;&emsp;IN</p><br>
            <p>Drop in your queries/suggestions at<br/><b>sehaj23chawla@gmail.com</b></p>






</div>

</center>


    </body>
    {{>footer}}



 
</html>