<html>
    <head>
       <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="content-main">
        {{>header}}

<H2>FORCAST FOR DELHI</H2>
<p>DELHI 32C</p>
</div>


{{>footer}}

    </body>
</html>

