<header>

 <h1>{{name}}</h1>
 <link rel="stylesheet" href="./css/style.css">

<div>
    <a href="/">Home</a>
    {{!-- <a href="/weather">Weather</a> --}}
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>

</header>
